* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}
html{
  height:100vh;
  width:100vw;
}
body{
  color:#fff;
  background-image: url("./assets/justice.jpg");
  background-repeat: no-repeat;
  background-size: 100vw 100vh; 
  background-position:0 80px ;
}
/* ------------------------------ */
/* ---------- NAVBAR ------------ */
/* ------------------------------ */
.navbar{
  display:flex;
  justify-content: space-around;
  
  align-items: center;
  background-color: #2b2922;
}
.navbar div img{
  margin-top: 30px;
  width:80px;
  margin-left: 130px;
}
.list{
  margin-top: 10px;
  list-style-type: none;
  display: flex;
  margin-left:200px;
  width:500px;
  justify-content: space-between;
}
.list-item:first-child{
  font-weight: bold;
  opacity: 1;
}
.list-item{
  opacity: 0.8;
  margin: 0px 15px;
}
.button-small{
  margin-top: 10px;
  height:40px;
  width:120px;
  background: transparent;
  font-family: "Montserrat";
  font-weight: bold;
  color: #a08f36;
  border: 1px solid #a08f36;
  border-radius: 5px;
}

/* ------------------------------ */
/* ---------- HERO ------------ */
/* ------------------------------ */
.hero{
  display: flex;
  justify-content: space-around;
  background-color: #2b2922;
}
.hero-heading{
  margin-left: 40px;
  margin-top: 40px;
  font-size: 40px;
    font-weight: bold;
    width:350px;
    margin-bottom: 20px;
}
.hero-body{
  margin-top: 40px;
  width:385px;
  opacity: 0.8;
  margin-bottom: 20px;
}
.bottom{
  background-color: #2b2922;
  position: absolute;
  bottom:0;
  right:0;
  width:100vw;
}
.bottom div{
  display: flex;
  justify-content: flex-end;
}
.box1{
  background-color: #39372d;
  padding:10px;
}
.box2{
  background-color: #a08f36;
  padding:10px;
}
.button-large-prev{
  border-radius: 50%;
  color:#a08f36;
  border:1px solid #a08f36;
  height:40px;
  width:40px;
  text-align: center;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
  
}
.button-large-next{
  border-radius: 50%;
  color:#fff;
  border:1px solid #fff;
  height:40px;
  width:40px;
  text-align: center;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
}